<!-- Header -->
<header class="px-3 px-lg-7 pt-7 custom_header">
  <div class="container-xl">
    <div>
      <div class="row custom_alignment">
        <div class="col-md-6 col-12 mb-3 mb-md-0">
          <!-- Title -->
          <xng-breadcrumb separator=">"></xng-breadcrumb>
          <h1 class="h2 mb-0 ls-tight mt-5">Care Plans</h1>
        </div>
        <!-- Actions -->
        <div class="col-md-6 col-12 text-md-end">
          <div class="mx-n1">
            <a routerLink="/app/care-plans/new" class="btn d-inline-flex btn-sm custom_btn_class btn-primary mx-1 ">
              <span class=" pe-2">
                <i class="bi bi-plus "></i>
              </span>
              <span>Create New Care Plan</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Nav -->
      <ul class="nav nav-tabs overflow-x mt-2">
        <li class="nav-item">
          <a
          (click)="selectedMedicalConditions = allMedicalConditions"
          class="nav-link font-regular active"
          [ngClass]="{'active': selectedMedicalConditions.length > 1}"
          >All
        </a>
      </li>
      <li class="nav-item" *ngFor="let condition of allMedicalConditions">
        <a
        role="button"
        (click)="selectDataSegment(condition)"
        [ngClass]="{'active': selectedMedicalConditions.length == 1 && selectedMedicalConditions[0] == condition}"
        class="nav-link font-regular">
        {{condition}}
      </a>
    </li>
  </ul>
</div>
</div>
</header>
<!-- Main content -->
<main class="px-3 px-lg-7 py-7">

  <div class="container-xl mb-5">
    <div class="input-group input-group-sm input-group-inline">
      <span class="input-group-text pe-2">
        <i class="bi bi-search"></i>
      </span>
      <input type="text" class="form-control" placeholder="Search Care Plans" aria-label="Search" aria-describedby="">
    </div>
  </div>
  <!-- Container -->
  <div class="container-xl mt-5">
    <div class="rounded-top bg-light p-5">
      <div class="row">
        <div class="col">
          <h6>Care Plans</h6>
        </div>
         <!-- <div class="col text-end">
          <span class="me-3">1-10 of 67 </span>

          <span role="button" class="me-1"> < </span>
          <span role="button"> > </span>
           <i class="fa fa-less-than me-1"></i>
            <i class="fa fa-greater-than"></i>
          </div> -->
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-nowrap care_plan_table" mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="total_count">
            <th mat-header-cell *matHeaderCellDef class="custom_table_header"> <div class="form-check">
              <mat-checkbox (change)="$event ? selection.toggle(row) : null" class="custom_checkbox"></mat-checkbox>
            </div> </th>
            <td mat-cell *matCellDef="let element">
              <div class="form-check">
                <mat-checkbox class="custom_checkbox" [checked]="selection.isSelected(row)"></mat-checkbox>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef class="custom_table_header">Care plan</th>
            <td mat-cell *matCellDef="let element" routerLink="/app/care-plans/{{element.id}}" class="clicked_class">
              <span class="text-heading font-semibold">{{ element.name }}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="estimatedDuration">
            <th mat-header-cell mat-sort-header *matHeaderCellDef class="custom_table_header">Estimated Duration</th>
            <td mat-cell *matCellDef="let element" routerLink="/app/care-plans/{{element.id}}" class="clicked_class">
              {{ element.estimatedDuration }} minutes
            </td>
          </ng-container>
          <ng-container matColumnDef="careplan_activities_aggregate">
            <th mat-header-cell mat-sort-header *matHeaderCellDef class="custom_table_header"># Activities</th>
            <td mat-cell *matCellDef="let element" routerLink="/app/care-plans/{{element.id}}" class="clicked_class">
              {{ element.careplan_activities.length}}
            </td>
          </ng-container>
          <ng-container matColumnDef="difficultyLevel">
            <th mat-header-cell *matHeaderCellDef class="custom_table_header">Difficulty</th>
            <td mat-cell *matCellDef="let element" routerLink="/app/care-plans/{{element.id}}" class="clicked_class">
              {{ element.difficultyLevel}}
            </td>
          </ng-container>
          <!-- <ng-container matColumnDef="medicalConditions">
            <th mat-header-cell *matHeaderCellDef class="custom_table_header">Medical Conditions</th>
            <td mat-cell *matCellDef="let element">
              <span class="badge bg-soft-primary m-2"
              *ngFor="let condition of element.medicalConditions | keyvalue">{{condition.key}}</span>
            </td>
          </ng-container> -->
          <ng-container matColumnDef="user_careplans_aggregate">
            <th mat-header-cell *matHeaderCellDef class="custom_table_header"># Active Patients</th>
            <td mat-cell *matCellDef="let element" routerLink="/app/care-plans/{{element.id}}" class="clicked_class">
              {{ element.patient_careplans.length}}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="custom_table_header"></th>
            <td mat-cell *matCellDef="let element">
                <div class="dropdown">
                  <a class="text-muted" (click)="null" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end">
                    <a href="#!" class="dropdown-item">
                      Add Patient
                    </a>
                    <a href="#!" class="dropdown-item">
                      Edit Care Plan
                    </a>
                    <a href="#!" class="dropdown-item">
                      Archive Care Plan
                    </a>
                    <a href="#!" class="dropdown-item">
                      Delete Care Plan
                    </a>
                  </div>
                </div>
              </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row_hover"></tr>
        </table>
        <mat-paginator [pageSize]="10"
        #TableOnePaginator="matPaginator" class="care_plan_table_paginator">
      </mat-paginator>
      </div>
  </div>
  </main>

