<!-- Header -->
<header class="px-3 px-lg-7 pt-7">
  <div class="container-xl">
    <div>
      <div class="row align-items-center">
        <div class="col-md-6 col-12 mb-3 mb-md-0">
          <!-- Title -->
          <h1 class="h2 mb-0 ls-tight">Care Plans</h1>
        </div>
        <!-- Actions -->
        <div class="col-md-6 col-12 text-md-end">
          <div class="mx-n1">
            <a routerLink="/app/patients/new" class="btn d-inline-flex btn-sm btn-outline-primary mx-1">
              <span class=" pe-2">
                <i class="bi bi-plus "></i>
              </span>
              <span>Add Patient</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Nav -->
      <ul class="nav nav-tabs overflow-x mt-2">
        <li class="nav-item">
          <a 
          (click)="selectedMedicalConditions = allMedicalConditions" 
          class="nav-link font-regular active"
          [ngClass]="{'active': selectedMedicalConditions.length > 1}"
          >All
        </a>
      </li>
      <li class="nav-item" *ngFor="let condition of allMedicalConditions">
        <a 
        role="button" 
        (click)="selectDataSegment(condition)"
        [ngClass]="{'active': selectedMedicalConditions.length == 1 && selectedMedicalConditions[0] == condition}"
        class="nav-link font-regular">
        {{condition}}
      </a>
    </li>
  </ul>
</div>
</div>
</header>
<!-- Main content -->
<main class="px-3 px-lg-7 py-7">
  
  <div class="container-xl mb-5">
    <div class="input-group input-group-sm input-group-inline">
      <span class="input-group-text pe-2">
        <i class="bi bi-search"></i>
      </span>
      <input type="text" class="form-control" placeholder="Search Care Plans" aria-label="Search" aria-describedby="">
    </div>
  </div>
  <!-- Container -->
  <div class="container-xl mt-5">
    <div class="rounded-top bg-light p-5">
      <div class="row">
        <div class="col">
          <h6>Care Plans</h6>
        </div>
        <div class="col text-end">
          <span class="me-3">1-10 of 67 </span>
          
          <span role="button" class="me-1"> < </span>
          <span role="button"> > </span>
          <!-- <i class="fa fa-less-than me-1"></i>
            <i class="fa fa-greater-than"></i> -->
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-nowrap">
          <thead class="thead-light  bg-secondary">
            <tr>
              <th class="text-lg" scope="col">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckAll">
                  <label class="form-check-label" for="flexCheckAll"></label>
                </div>
              </th>
              <th scope="col">Name</th>
              <th scope="col">Estimated Duration</th>
              <th scope="col"># Activities</th>
              <th scope="col">Difficulty</th>
              <th scope="col"># Active Patients</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="bg-light">
            <tr *ngFor="let careplan of careplans">
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <label class="form-check-label" for="flexCheckAll"></label>
                </div>
              </td>
              <td>
                {{ careplan.name }}
              </td>
              <td>
                {{ careplan.estimatedDuration }}
              </td>
              <td>
                {{ careplan.careplan_activities_aggregate?.aggregate?.count}}
              </td>
              <td>
                {{ careplan.difficultyLevel }}
              </td>
              <td>
                {{ careplan.user_careplans_aggregate?.aggregate?.count}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row mx-1 p-5 bg-light">
        <div class="col">
          Showing 10 items out of 67 results found
        </div>
        <div class="col text-end">
          <span role="button" class="me-1"> < </span>
          <span role="button"> > </span>
        </div>
      </div>
    </div>
  </main>
  
  