<div class="body">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <!-- Point Motion -->
      <img src="assets/images/logo.png" style="max-height:48px;">
    </a>
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link active" routerLink="/app/dashboard">Dashboard</a>
      <a class="nav-item nav-link active" routerLink="/app/patients">Patients</a>
      <a class="nav-item nav-link active" routerLink="/app/activities">Activities</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn" (click)="invitePatient()">Onboard New Patient</a>
        </div>
      </li>
    </ul>
  </nav>
  <!-- <div style="height: 90px;">&nbsp;</div> -->
  <router-outlet></router-outlet>
</div>
