<div class="container">
    <div class="row"></div>
    <div class="row mt-5">
        <div class="col">
            <table class="table table-hover border">
                <thead>
                  <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let patient of patients" (click)="openPatientDetails(patient)">
                    <!-- <td scope="row">{{ patient.id }}</td> -->
                    <td>{{ patient.firstName }}</td>
                    <td>{{ patient.lastName }}</td>
                    <td>{{ patient.username }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>