<!-- Header -->
<header class="px-3 px-lg-7 pt-7 custom_header">
  <div class="container-xl">
    <div>
      <div class="row custom_alignment p-5">
        <div class="col-md-6 col-12 mb-3 mb-md-0">
          <!-- Title -->
          <xng-breadcrumb separator=">"></xng-breadcrumb>
          <router-outlet></router-outlet>
          <h1 class="h2 mb-0 ls-tight heading_text mt-5">Patients List</h1>
          <!-- <avatar text="YA" [bgAuto]="true" size="lg"></avatar> -->
        </div>
        <!-- Actions -->
        <div class="col-md-6 col-12 text-md-end">
          <!-- <div class="mx-n1">
            <a routerLink="/app/patients/new" class="btn d-inline-flex btn-sm custom_btn_class btn-primary mx-1 ">
              <span class=" pe-2">
                <i class="bi bi-plus "></i>
              </span>
              <span>Add Patient</span>
            </a>
          </div> -->
        </div>
      </div>
      <!-- Nav -->
      <!-- {{ selectedMedicalConditions | json }} -->
      <!-- <ul class="nav nav-tabs overflow-x mt-2">
        <li class="nav-item">
          <a (click)="selectedMedicalConditions = allMedicalConditions" class="nav-link font-regular active"
            [ngClass]="{'active': selectedMedicalConditions.length > 1}">All
          </a>
        </li>
        <li class="nav-item" *ngFor="let condition of allMedicalConditions">
          <a role="button" (click)="selectDataSegment(condition)"
            [ngClass]="{'active': selectedMedicalConditions.length == 1 && selectedMedicalConditions[0] == condition}"
            class="nav-link font-regular">
            {{condition}}
          </a>
        </li>
      </ul> -->
    </div>
  </div>
</header>
<!-- Main content -->
<main class="px-3 px-lg-7 py-7">
  <app-patients-list></app-patients-list>
</main>
