  <div class="container popup_alignment add_new_careplan">
    <div>
      <div class="row align-items-center">
        <div class="col-12 mb-md-0 custom_alignment">
          <mat-icon>add</mat-icon>
          <h1 class="h2 mb-0 ls-tight">Add New Care Plan</h1>
        </div>
        <input type="text" class="form-control search_in_popup mt-5" placeholder="Search Care Plans" aria-label="Search" aria-describedby="">
      </div>
    </div>
      <div class="mt-5">
          <div class="list-group list-group-flush">
              <div class="list-group-item d-flex align-items-center px-0" *ngFor="let active_careplan of careplans_list">
                  <div class="flex-fill ms-4">
                      <!-- Title -->
                      <a class="d-block h6 mb-1">{{active_careplan.name}}</a>
                  </div>
                  <div *ngIf="active_careplan.value=='false'">
                      <a class="btn btn-sm btn-neutral px-4 py-2 text-xs">Add</a>
                  </div>
                  <div *ngIf="active_careplan.value=='true'">
                    <a class="btn btn-sm btn-neutral px-4 py-2 text-xs success"><mat-icon>done</mat-icon>Added</a>
                </div>
              </div>
          </div>
      </div>
  </div>
