<div>
    <div class="d-flex justify-content-center">
        <div *ngIf="showForgot" class="col-12 col-md-9 col-lg-7 min-h-lg-screen d-flex flex-column justify-content-center py-lg-16 px-lg-20 position-relative">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="bg-surface-secondary rounded-md-4 shadow-md-6 p-5 p-md-10">
                        <div class="text-center mb-5 mb-md-10">
                            <span class="d-inline-block d-lg-block h1 mb-lg-6 me-3">
                                <img src="assets/images/logo.png" style="height: 75px; width: auto;">
                            </span>
                            <p class="mt-2">
                                Please sign in to access your account
                            </p>
                        </div>
                        <div class="mb-5">
                            <label class="form-label" for="email">Email address</label>
                            <input type="email" [(ngModel)]="email" class="form-control form-control-muted" id="email">
                        </div>
                        <div>
                            <a (click)="onRequestPasswordResetLink()" class="btn btn-primary w-full">
                                Request Password Reset Link
                            </a>
                        </div>
                        <div class="mt-7 text-center">
                            <a role="button" (click)="signIn()" class="text-warning text-sm font-semibold">Go to Sign In Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!showForgot" class="col-12 col-md-9 col-lg-7 min-h-lg-screen d-flex flex-column justify-content-center py-lg-16 px-lg-20 position-relative">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center">
                    <div class="card">
                        <!-- Card Body -->
                        <div class="card-body text-center">
                            <figure class="mx-auto" style="width: 70px;">
                                <div class="img-fluid">
                                    <i style="font-size: 4.5rem;" class="fa fa-check-circle text-success"></i>
                                </div>
                            </figure>
                            <!-- Title -->
                            <p class="h5 d-block my-5">Please check your emails</p>
                            <div class="mb-5">
                                <p>If {{email}} exists in our database, we will send a password reset email. </p>
                                <p>&nbsp;</p>
                                <p>In case, you don’t receive an email within 2 minutes, please check your spam folder or try with a different email address.</p>
                            </div>
                            <!-- Badge -->
                            <button (click)="showForgot=true" class="btn btn-success">Not {{email}}?</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>