ul.nav-tabs {
  background: #f8f9fa;
}

html {
  overflow: hidden;
}

.chart-canvas {
  max-height: 40vh;
}

// Hide dropdown filters temporarily.
.hide-dropdown-filters {
  display: none;
}

.clickable {
  cursor: pointer;
}
.custom_rounded_top{border-top-left-radius: 16px !important;border-top-right-radius: 16px !important;}
