$primary: #000066;
$success: #39b54a;
$info: #2f51ae;
$danger: #eb0000;
$secondary: #f5f9fc;
$warning: #ffb000;

:root {
    --primary: #000066;
    --success: #39B54A;
    --warning: #FFB000;
    --info: #2F51AE;
    --danger: #EB0000;
    --secondary: #f5f9fc;
    --border-light: #CBD5E0;
    --font-family: var(--x-body-font-family);
}


$primary_color: var(--primary);
$success_color: var(--success);
$warning_color: var(--warning);
$info_color: var(--info);
$danger_color: var(--danger);
$secondary_color: var(--secondary);

$border-light_color: var(--border-light);
$font-family: var(--font-family);
