<div accessControl authKey="customization" class="container-xl mb-5">

  <img *ngIf="!customizable" class="logo-img" [src]="customizationOptions.orgLogoUrl" alt="organization-logo">
  <div *ngIf="customizable" class="row custom-card p-4">
    <div class="col-md-1 text-center">
      <!-- <avatar text="AA" size="md"></avatar> -->
      <img class="logo-circle md" [src]="customizationOptions.orgLogoUrl" alt="organization-logo" />
    </div>
    <div class="col-md-9 d-flex align-items-center">
      Please use a picture that is atleast 98x98 px and 4MB or less. Accepted file formats are JPEG and PNG.
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-center">
      <input hidden type="file" accept="image/*" #uploader (change)="uploadLogo($event)" />
      <button class="btn btn-secondary" (click)="uploader.click()">
        <i class="bi bi-chat"></i>
        &nbsp;Change Logo</button>
    </div>
  </div>

  <div class="my-10">
    <h5 class="text-dark">Account Information</h5>

    <div class="mt-5">
      <label for="organizationName" class="form-label">Organization Name</label>
      <input type="text" (input)="setOrgName($event)" class="form-control" id="organizationName"
        placeholder="Organization Name" [disabled]="!customizable">
    </div>

    <div class="mt-5">
      <label for="organizationType" class="form-label col-12">Organization Type</label>
      <mat-form-field appearance="fill" class="col-12  condition_select">
        <mat-select placeholder="Select Organization Type" (valueChange)="setOrgType($event)"
          [disabled]="!customizable">
          <mat-option value="clinic">Clinic</mat-option>
          <mat-option value="hospital">Hospital</mat-option>
          <mat-option value="seniorHomeFacility">Senior Home Facility</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="mt-5">
      <label class="h5 form-label">Brand Colors</label>
      <p>Update your brand colours on Sound Health by using the colour picker or the Hex code below. This will help your
        users
        identify with the product better.</p>

      <div class="row mt-5">
        <div class="col-md-3">
          <label for="primary" class="form-label d-block">Primary Color</label>
          <mat-form-field>
            <input matInput (ngModelChange)="setColor('primary', $event)"
              [ngModel]="customizationOptions.brandColors!.primary | hexToColor " [ngxMatColorPicker]="primary"
              [disabled]="!customizable">
            <ngx-mat-color-toggle matSuffix [for]="primary"></ngx-mat-color-toggle>
            <ngx-mat-color-picker #primary [touchUi]="true"></ngx-mat-color-picker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <label for="secondary" class="form-label d-block">Secondary Color</label>
          <mat-form-field>
            <input matInput (ngModelChange)="setColor('secondary', $event)"
              [ngModel]="customizationOptions.brandColors!.secondary | hexToColor " [ngxMatColorPicker]="secondary"
              [disabled]="!customizable">
            <ngx-mat-color-toggle matSuffix [for]="secondary"></ngx-mat-color-toggle>
            <ngx-mat-color-picker #secondary [touchUi]="true"></ngx-mat-color-picker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <label for="tertiary" class="form-label d-block">Tertiary Color</label>
          <mat-form-field>
            <input matInput (ngModelChange)="setColor('tertiary', $event)"
              [ngModel]="customizationOptions.brandColors!.tertiary | hexToColor " [ngxMatColorPicker]="tertiary"
              [disabled]="!customizable">
            <ngx-mat-color-toggle matSuffix [for]="tertiary"></ngx-mat-color-toggle>
            <ngx-mat-color-picker #tertiary [touchUi]="true"></ngx-mat-color-picker>
          </mat-form-field>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-3">
          <label for="success" class="form-label d-block">Success Color</label>
          <mat-form-field>
            <input matInput (ngModelChange)="setColor('success', $event)"
              [ngModel]="customizationOptions.brandColors!.success | hexToColor " [ngxMatColorPicker]="success"
              [disabled]="!customizable">
            <ngx-mat-color-toggle matSuffix [for]="success"></ngx-mat-color-toggle>
            <ngx-mat-color-picker #success [touchUi]="true"></ngx-mat-color-picker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <label for="warning" class="form-label d-block">Warning Color</label>
          <mat-form-field>
            <input matInput (ngModelChange)="setColor('warning', $event)"
              [ngModel]="customizationOptions.brandColors!.warning | hexToColor " [ngxMatColorPicker]="warning"
              [disabled]="!customizable">
            <ngx-mat-color-toggle matSuffix [for]="warning"></ngx-mat-color-toggle>
            <ngx-mat-color-picker #warning [touchUi]="true"></ngx-mat-color-picker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <label for="danger" class="form-label d-block">Danger Color</label>
          <mat-form-field>
            <input matInput (ngModelChange)="setColor('danger', $event)"
              [ngModel]="customizationOptions.brandColors!.danger | hexToColor " [ngxMatColorPicker]="danger"
              [disabled]="!customizable">
            <ngx-mat-color-toggle matSuffix [for]="danger"></ngx-mat-color-toggle>
            <ngx-mat-color-picker #danger [touchUi]="true"></ngx-mat-color-picker>
          </mat-form-field>
        </div>
      </div>

    </div>

    <div class="mt-5">
      <label for="typeface" class="form-label col-12">Typeface</label>
      <mat-form-field appearance="fill" class="col-12 condition_select">
        <mat-select placeholder="Select Organization Type" [ngModel]="customizationOptions.orgTypeFace"
          (ngModelChange)="setTypeFace($event)" [disabled]="!customizable">
          <mat-option *ngFor="let typeface of availableTypefaces" value={{typeface}}>{{typeface}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
