<div>
    <div class="d-flex justify-content-center">
        <div class="col-12 col-md-9 col-lg-7 min-h-lg-screen d-flex flex-column justify-content-center py-lg-16 px-lg-20 position-relative">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="bg-surface-secondary rounded-md-4 shadow-md-6 p-5 p-md-10">
                        <div class="text-center mb-5 mb-md-10">
                            <span class="d-inline-block d-lg-block h1 mb-lg-6 me-3">
                                <img src="assets/images/logo.png" style="height: 75px; width: auto;">
                            </span>
                            <p class="mt-2">
                                Please enter your new password
                            </p>
                        </div>
                        <div *ngFor="let error of errors" class="alert bg-danger text-white m-5" role="alert">
                            {{error}}
                        </div>
                        <div class="mb-5">
                            <label class="form-label" for="password">Password</label>
                            <input [(ngModel)]="password" type="password" class="form-control form-control-muted" id="password" autocomplete="current-password">
                        </div>
                        <div class="mb-5">
                            <label class="form-label" for="password">Confirm Password</label>
                            <input [(ngModel)]="confirmPassword" type="password" class="form-control form-control-muted" id="password" autocomplete="current-password">
                            <div *ngIf="password && confirmPassword && password != confirmPassword" class="form-text text-danger">
                                Password and Password Confirmation do not match.
                            </div>
                        </div>
                        
                        <div>
                            <button (click)="resetPassword()" class="btn btn-primary w-full" [disabled]="!password || !confirmPassword || password != confirmPassword">
                                Reset Password & Sign In
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>