// Import the default variables and function
@import "@webpixels/css/core/functions";
// Your theme's variables
@import "./app/variables";
// Webpixels' CSS
@import "@webpixels/css/base";
@import "@webpixels/css/forms";
@import "@webpixels/css/components";
@import "@webpixels/css/utilities";
// Should not be global... or should be...?
label.form-label {color: #425466;font-weight: 500;}
.lg-modal .modal-dialog {max-width: 90vw;}
// krina's scss starts here
body, .mat-body, .mat-body-1, .mat-typography{font-family: var(--x-body-font-family) !important;font-size: var(--x-body-font-size);font-weight: var(--x-body-font-weight);line-height: var(--x-body-line-height);color: var(--x-body-color);text-align: var(--x-body-text-align);background-color: var(--x-body-bg);-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
th.mat-header-cell.custom_table_header {font-family: var(--x-body-font-family);color: #525f7f;}
// krina's scss ends here
.multiselect-dropdown .dropdown-btn {background: #FFF;box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08);padding: 12px !important;border: unset !important;
    .selected-item-container .selected-item {background: #2F51AE !important;}
    .dropdown-multiselect__caret::before {top: 90% !important;}
}
.multiselect-item-checkbox input[type="checkbox"] + div::before, .multiselect-item-checkbox input[type="checkbox"]:checked + div::before {border: 2px solid #2F51AE !important;color: #2F51AE !important;background: #2F51AE !important;}
th.mat-header-cell .custom_checkbox .mat-checkbox-frame, .custom_checkbox .mat-checkbox-background {width: 2em;height: 2em;border-radius: 0.5em;}
.custom_checkbox .mat-checkbox-frame{border-width: 1px;border: 1px solid rgba(0, 0, 0, 0.25);}
.custom_checkbox .mat-checkbox-frame,.custom_checkbox .mat-checkbox-inner-container {width: 1.5em;height: 1.5em;vertical-align: top;background-color: #FFF;background-repeat: no-repeat;background-position: center;background-size: contain;-webkit-appearance: none;-moz-appearance: none;appearance: none;-webkit-print-color-adjust: exact;color-adjust: exact;border-radius: 0.4em;}
.form-check {padding-left: inherit;}
html, body { height: 100%; overflow: hidden;}
body { margin: 0;}
table.mat-table.patients_detail_table td.mat-cell {font-family: var(--x-body-font-family)!important;}
td.mat-cell.cdk-cell.cdk-column-label_star.mat-column-label_star {width: 4em;}
.table td .progress {height: 4px;}
table.mat-table.mat-sort.patients_table thead {border-top: 1px solid #EDF2F7;}
header.px-3.px-lg-7.pt-7.custom_header {background-color: #fff;border: 1px solid #EDF2F7;}
.nav-tabs {border-bottom: unset;}
td.mat-cell.cdk-cell.clicked_class {cursor: pointer;}
a.btn.d-inline-flex.custom_btn_class:hover {background-color: #fff;color: #000066;}
.input-group.input_box_icons_alignment {box-shadow: unset;}
.input_box_icons_alignment input.form-control {flex: unset;width: 95%;}
.align_search_filter {display: flex;align-items: center;}
img.filter_align {margin-left: 1em;}
.condition_select .mat-form-field-flex .mat-form-field-infix {border: unset;padding: 1em;display: flex;}
.condition_select .mat-form-field-flex {padding: unset !important;}
.condition_select .mat-form-field-flex .mat-select-arrow-wrapper{display: flex;}
mat-form-field.mat-form-field.condition_select .mat-form-field-underline {display: none;}
mat-form-field.mat-form-field.condition_select .mat-form-field-wrapper {padding: unset;}
mat-form-field.mat-form-field.condition_select .mat-form-field-flex {display: flex;align-items: center;height: 2.7em;}
mat-form-field.mat-form-field.condition_select {background: #FFFFFF;border-radius: 6px;}
.condition_select .mat-form-field-flex {background-color: #fff;;box-shadow: 0px 1px 2px rgb(50 50 71 / 8%), 0px 0px 1px rgb(50 50 71 / 20%);border-radius: 6px;}
.alignment_date.condition_select {margin-left: 1.5rem;}
i.bi.bi-star.custom_star_color {color: #CBD5E0;font-size: 1.2rem;}
img.icons_align {cursor: pointer;}
mat-form-field.mat-form-field.details_page.alignment_date.condition_select {margin-left: 0px !important;font-family: var(--x-body-font-family) !important;}
mat-form-field.mat-form-field.details_page.alignment_date.condition_select .mat-form-field-flex {height: 2.3em;border-radius: 8px;}
mat-form-field.mat-form-field.details_page.alignment_date.condition_select input::placeholder {color: #16192C;font-size: 0.875rem;font-weight: 500;}
mat-form-field.mat-form-field.details_page.alignment_date.condition_select input {color: #16192C;font-size: 0.875rem;font-weight: 500;}
tr.mat-row.cdk-row.row_hover:hover {background-color: #f8f8f8;}
table.mat-table.patients_detail_table tr.mat-header-row {--x-bg-opacity: 1;background-color: rgba(var(--x-secondary-rgb),var(--x-bg-opacity))!important;border-top: 2px solid #EDF2F7;}
.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: rgba(var(--x-primary-rgb)) !important;
}
tbody tr.mat-row.row_hover mat-checkbox.custom_checkbox .mat-checkbox-background {
  width: 1.5em;
  height: 1.5em;
}
