// Import the default variables and function
@import "@webpixels/css/core/functions";

// Your theme's variables
@import "./app/variables";

// Webpixels' CSS
@import "@webpixels/css/base";
@import "@webpixels/css/forms";
@import "@webpixels/css/components";
@import "@webpixels/css/utilities";


// Should not be global... or should be...?
label.form-label {
    color: #425466;
    font-weight: 500;
}

.lg-modal .modal-dialog {
    max-width: 90vw;
}
// krina's scss starts here
body, .mat-body, .mat-body-1, .mat-typography
{
  font-family: var(--x-body-font-family) !important;
  font-size: var(--x-body-font-size);
  font-weight: var(--x-body-font-weight);
  line-height: var(--x-body-line-height);
  color: var(--x-body-color);
  text-align: var(--x-body-text-align);
  background-color: var(--x-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
th.mat-header-cell.custom_table_header {
  font-family: var(--x-body-font-family);
  color: #525f7f;
}
// krina's scss ends here
.multiselect-dropdown .dropdown-btn {
    background: #FFF;
    box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08);
    padding: 12px !important;
    border: unset !important;
    .selected-item-container .selected-item {
        background: #2F51AE !important;
    }
    .dropdown-multiselect__caret::before {
        top: 90% !important;
    }
}

.multiselect-item-checkbox input[type="checkbox"] + div::before, .multiselect-item-checkbox input[type="checkbox"]:checked + div::before {
    border: 2px solid #2F51AE !important;
    color: #2F51AE !important;
    background: #2F51AE !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
