// Import the default variables and function
@import "@webpixels/css/core/functions";
// Your theme's variables
@import "./app/variables";
// Webpixels' CSS
@import "@webpixels/css/base";
@import "@webpixels/css/forms";
@import "@webpixels/css/components";
@import "@webpixels/css/utilities";
// Should not be global... or should be...?
label.form-label {color: #425466;font-weight: 500;}
.lg-modal .modal-dialog {max-width: 90vw;}
// krina's scss starts here
body, .mat-body, .mat-body-1, .mat-typography{font-family: var(--x-body-font-family) !important;font-size: var(--x-body-font-size);font-weight: var(--x-body-font-weight);line-height: var(--x-body-line-height);color: var(--x-body-color);text-align: var(--x-body-text-align);background-color: var(--x-body-bg);-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
th.mat-header-cell.custom_table_header {font-family: var(--x-body-font-family);color: #525f7f;}
// krina's scss ends here
.multiselect-dropdown .dropdown-btn {background: #FFF;box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08);padding: 12px !important;border: unset !important;
    .selected-item-container .selected-item {background: #2F51AE !important;}
    .dropdown-multiselect__caret::before {top: 90% !important;}
}
.multiselect-item-checkbox input[type="checkbox"] + div::before, .multiselect-item-checkbox input[type="checkbox"]:checked + div::before {border: 2px solid #2F51AE !important;color: #2F51AE !important;background: #2F51AE !important;}
th.mat-header-cell .custom_checkbox .mat-checkbox-frame, .custom_checkbox .mat-checkbox-background {width: 2em;height: 2em;border-radius: 0.5em;}
.custom_checkbox .mat-checkbox-frame{border-width: 1px;border: 1px solid rgba(0, 0, 0, 0.25);}
.custom_checkbox .mat-checkbox-frame,.custom_checkbox .mat-checkbox-inner-container {width: 1.5em;height: 1.5em;vertical-align: top;background-color: #FFF;background-repeat: no-repeat;background-position: center;background-size: contain;-webkit-appearance: none;-moz-appearance: none;appearance: none;-webkit-print-color-adjust: exact;color-adjust: exact;border-radius: 0.4em;}
.form-check {padding-left: inherit;}
html, body { height: 100%; overflow: hidden;}
body { margin: 0;}
table.mat-table.patients_detail_table td.mat-cell {font-family: var(--x-body-font-family)!important;}
td.mat-cell.cdk-cell.cdk-column-label_star.mat-column-label_star {width: 4em;}
.table td .progress {height: 4px;}
table.mat-table.mat-sort.patients_table thead {border-top: 1px solid #EDF2F7;}
header.px-3.px-lg-7.pt-7.custom_header {background-color: #fff;border: 1px solid #EDF2F7;}
.nav-tabs {border-bottom: unset;}
td.mat-cell.cdk-cell.clicked_class {cursor: pointer;}
a.btn.d-inline-flex.custom_btn_class:hover {background-color: #fff;color: #000066;}
.input-group.input_box_icons_alignment {box-shadow: unset;}
.input_box_icons_alignment input.form-control {flex: unset;width: 95%;}
.align_search_filter {display: flex;align-items: center;}
img.filter_align {margin-left: 1em;}
.condition_select .mat-form-field-flex .mat-form-field-infix {border: unset;padding: 1em;display: flex;}
.condition_select .mat-form-field-flex {padding: unset !important;}
.condition_select .mat-form-field-flex .mat-select-arrow-wrapper{display: flex;}
mat-form-field.mat-form-field.condition_select .mat-form-field-underline {display: none;}
mat-form-field.mat-form-field.condition_select .mat-form-field-wrapper {padding: unset;}
mat-form-field.mat-form-field.condition_select .mat-form-field-flex {display: flex;align-items: center;height: 2.7em;}
mat-form-field.mat-form-field.condition_select {background: #FFFFFF;border-radius: 6px;}
.condition_select .mat-form-field-flex {background-color: #fff;;box-shadow: 0px 1px 2px rgb(50 50 71 / 8%), 0px 0px 1px rgb(50 50 71 / 20%);border-radius: 6px;}
.alignment_date.condition_select {margin-left: 1.5rem;}
i.bi.bi-star.custom_star_color {color: #CBD5E0;font-size: 1.2rem;}
img.icons_align {cursor: pointer;}
mat-form-field.mat-form-field.details_page.alignment_date.condition_select {margin-left: 0px !important;font-family: var(--x-body-font-family) !important;}
mat-form-field.mat-form-field.details_page.alignment_date.condition_select .mat-form-field-flex {height: 2.3em;border-radius: 8px;}
mat-form-field.mat-form-field.details_page.alignment_date.condition_select input::placeholder {color: #16192C;font-size: 0.875rem;font-weight: 500;}
mat-form-field.mat-form-field.details_page.alignment_date.condition_select input {color: #16192C;font-size: 0.875rem;font-weight: 500;}
tr.mat-row.cdk-row.row_hover:hover {background-color: #f8f8f8;}
table.mat-table.patients_detail_table tr.mat-header-row {--x-bg-opacity: 1;background-color: rgba(var(--x-secondary-rgb),var(--x-bg-opacity))!important;border-top: 2px solid #EDF2F7;}
.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: rgba(var(--x-primary-rgb)) !important;
}
tbody {
	tr.mat-row.row_hover {
		mat-checkbox.custom_checkbox {
			.mat-checkbox-background {
				width: 1.5em;
				height: 1.5em;
			}
		}
	}
}
.table-shadow {
	box-shadow: 0px 3px 3px -1px rgb(10 22 70 / 10%), 0px 0px 1px 0px rgb(10 22 70 / 6%);
	border-radius: 0.75rem;
}
.bg-light.custom_rounded_top {
	border-top-left-radius: 0.75rem;
	border-top-right-radius: 0.75rem;
}
mat-paginator.mat-paginator.paginator_border_radius {
	border-bottom-left-radius: 0.75rem;
	border-bottom-right-radius: 0.75rem;
}
.row.custom_alignment {
	align-items: flex-end;
}
// table.care_plan_table {
// 	background-color: transparent !important;
// 	border-collapse: separate;
// 	border-spacing: 0 1em !important;
// 	td.mat-cell {
// 		border: unset !important;
// 		&:first-child {
// 			border-radius: 1em 0 0 1em !important;
// 		}
// 		&:last-child {
// 			border-radius: 0 1em 1em 0 !important;
// 		}
// 	}
// 	th.mat-header-cell.cdk-header-cell.custom_table_header {
// 		border: unset;
// 		&:first-child {
// 			border-radius: 1em 0 0 1em !important;
// 		}
// 		&:last-child {
// 			border-radius: 0 1em 1em 0 !important;
// 		}
// 	}
// 	tr.mat-header-row {
// 		background-color: #FAFAFB;
// 		border-radius: 1em;
// 		box-shadow: 0px 3px 8px -1px rgb(50 50 71 / 5%);
// 	}
// 	tr.mat-row {
// 		background-color: #fff;
// 		box-shadow: 0px 3px 8px -1px rgb(50 50 71 / 5%);
// 	}
// }
// mat-paginator.mat-paginator.care_plan_table_paginator {
// 	background-color: transparent !important;
// }

// table.care_plan_table tbody td.mat-cell {
//   background-color: #fff;
// }
// table.care_plan_table tbody td.mat-cell:first-child {
//   background-color: unset;
// }
// scss conversion scss
.custom_alignment {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
img.icons_aligne {
  width: auto;
  height: 1.3em;
}
input.form-control.search_in_popup {
  border-radius: 1em;
  height: 24px;
  padding: 1.1em;
}
table.mat-table.care_plan_table tr.mat-header-row {
  --x-bg-opacity: 1;
  background-color: rgba(var(--x-secondary-rgb), var(--x-bg-opacity)) !important;
}
table.mat-table.care_plan_table {
  border-top: 1px solid #EDF2F7;
}
table.mat-table.care_plan_table > :not(:first-child) {
  border-top: 0px;
}
table.mat-table.care_plan_table td.mat-cell {
  padding: 1.3rem 1rem 1.3rem 0rem;
  font-family: var(--x-body-font-family) !important;
}
td.mat-cell.cdk-cell.cdk-column-total_count.mat-column-total_count {
  padding-left: 1.5rem;
}
td.mat-cell.cdk-cell.cdk-column-difficultyLevel.mat-column-difficultyLevel {
  text-transform: capitalize;
}
.rounded-top {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}
mat-paginator.mat-paginator.care_plan_table_paginator {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.select_dates .mat-form-field-flex {
  background-color: #000066;
}
.select_dates input::placeholder {
  color: #fff !important;
}
.select_dates button.mat-icon-button {
  color: #fff;
}
mat-form-field.mat-form-field.details_page.alignment_date.condition_select.select_dates .mat-form-field-flex {
  border-radius: 0.375rem;
}
mat-form-field.mat-form-field.details_page.alignment_date.condition_select.select_dates {
  width: 10em;
}
mat-form-field.mat-form-field.details_page.alignment_date.condition_select.select_dates input {
  color: #fff !important;
}
