<!-- Header -->
<div class="container pt-5">
  <div class="card shadow-inset shadow-6 pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="row">
            <div class="col">
              <h1 class="h1 mt-5" style="color: #000066;">Welcome Dr. Kevin</h1>
              <span>Date: <b>{{ this.currentDate | date }}</b></span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mt-8">
          <div class="row">
            <div class="col-lg-8">
              <button class="btn btn-primary">
                Select Dates
              </button>
            </div>
            <div class="col">
              <h2><i class="bi bi-bell"></i></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border shadow-6">
            <div class="row">
              <div class="col-lg-6">
                <img class="rounded" alt="..."
                  src="https://images.unsplash.com/photo-1612531385476-a86dc00daf9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
              </div>
              <div class="col mt-8">
                <div class="row">
                  <div class="col-lg-1">
                    <i style="color: #00BD3E" class="bi bi-circle-fill"></i>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-lg-12">
                        <h4>Dr. Kevin</h4>
                      </div>
                      <div class="col mt-2">
                        <a style="color: #2F51AE" class="text-decoration-none" href="#">
                          View Profile
                          <i class="bi bi-arrow-right-square-fill"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Put Charts here -->
<div class="container mt-8">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="card-header">
            <h4 style="color: #000066;">Patient Adherence</h4>
          </div>
          <canvas class="chart-canvas" id="patientAdherence" width="500" height="500"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="card-header">
            <h4 style="color: #000066;">Patient Overview</h4>
          </div>
          <canvas class="chart-canvas" id="patientOverview" width="500" height="500"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main content -->
<main class="px-3 px-lg-7 py-7">
  <!-- Container -->
  <div class="container-xl">
    <div class="row">
      <div class="col">
        <div class="card text-center">
          <div class="card-header">Active Patients</div>
          <div class="card-body">
            <h5 class="card-title">18</h5>
            <p class="card-text text-success">+4 since last week</p>
            <pmc-active-patients></pmc-active-patients>
            <a href="#" class="btn btn-secondary mt-4">See All</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="card-header">Improving Performance</div>
          <div class="card-body">
            <h5 class="card-title">12</h5>
            <p class="card-text text-success">+2 since last week</p>
            <pmc-active-patients></pmc-active-patients>
            <a href="#" class="btn btn-secondary mt-4">See All</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="card-header">Reducing Performance</div>
          <div class="card-body">
            <h5 class="card-title">6</h5>
            <p class="card-text text-success">-2 since last week</p>
            <pmc-active-patients></pmc-active-patients>
            <a href="#" class="btn btn-secondary mt-4">See All</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="card-header">New Patients</div>
          <div class="card-body">
            <h5 class="card-title">4</h5>
            <p class="card-text text-danger">-1 since last week</p>
            <pmc-active-patients></pmc-active-patients>
            <a href="#" class="btn btn-secondary mt-4">See All</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>