<div class="container mt-5">
    <!-- <div class="row"> -->
        <!-- <div class="col-md-4">
            <div class="card dashboard-widget">
                <div class="card-header bg-primary text-white">
                    Patients Lagging Behind
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a>Cras justo odio</a>
                    </li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Cras justo odio</li>
                </ul>
            </div> 
        </div>
        <div class="col-md-4">
            <div class="card dashboard-widget">
                <div class="card-header bg-primary text-white">
                    Patients showing an Improvement (8) 😊
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card dashboard-widget">
                <div class="card-header bg-primary text-white">
                    Patients showing a decline (4) 😊
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Cras justo odio</li>
                </ul>
            </div>
        </div> -->
    <!-- </div> -->
    
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    Active Patients
                </div>
                <div class="card-body">
                  <h5 class="card-title">18</h5>
                  <p class="card-text text-success">+4 since last week</p>
                  <pmc-active-patients></pmc-active-patients>
                  <a href="#" class="btn btn-secondary mt-4">See All</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    Improving Performance
                </div>
                <div class="card-body">
                  <h5 class="card-title">12</h5>
                  <p class="card-text text-success">+2 since last week</p>
                  <pmc-active-patients></pmc-active-patients>
                  <a href="#" class="btn btn-secondary mt-4">See All</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    Reducing Performance
                </div>
                <div class="card-body">
                  <h5 class="card-title">6</h5>
                  <p class="card-text text-success">-2 since last week</p>
                  <pmc-active-patients></pmc-active-patients>
                  <a href="#" class="btn btn-secondary mt-4">See All</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    New Patients
                </div>
                <div class="card-body">
                  <h5 class="card-title">4</h5>
                  <p class="card-text text-danger">-1 since last week</p>
                  <pmc-active-patients></pmc-active-patients>
                  <a href="#" class="btn btn-secondary mt-4">See All</a>
                </div>
            </div>
        </div>
    </div>
</div>