<div class="container pt-5">
  <div class="card shadow-inset shadow-sm pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <xng-breadcrumb separator=">"></xng-breadcrumb>
          <div class="row">
            <div class="col">
              <span class="text-black">Date: <b>{{ this.now | date: 'MM/dd/yyyy' }}</b></span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-8">
          <div class="row justify-content-end">
            <div class="col d-flex justify-content-end">
              <!-- Dropdown -->
              <div *ngIf="!showEmptyState" class="dropdown">
                <button class="btn btn-primary position-relative w-40 text-start" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ dateFilter[selectedDateRange].label }}
                  <span class="position-absolute top-1/2 end-3 translate-middle-y"><i class="bi bi-chevron-down"></i></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <form>
                    <div *ngFor="let filter of dateFilter; let i=index" class="dropdown-item py-1 d-flex align-items-center">
                      <div class="text-lg">
                        <input class="form-check-input" type="checkbox" id={{filter.label}} value="i" aria-label="..." [checked]="selectedDateRange == i" (change)="setDateFilter(i)">
                      </div>
                      <div class="ms-3 me-5">
                        <label class="cursor-pointer" for={{filter.label}}>{{ filter.label }}</label>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main content -->
<main class="pb-7">
  <div class="container mt-8 mb-8">
    <div class="mb-4">
      <h3>Dashboard</h3>
      <div class="border-top my-5"></div>
    </div>
    <div class="rounded-top bg-light p-3">
      <ul class="nav nav-tabs">
        <li class="nav-item cursor-pointer">
          <a class="{{selectedMetricGroup === 'conversion' ? 'nav-link active' : 'nav-link'}}" (click)="getMetrics('conversion')">Conversion</a>
        </li>
        <li class="nav-item cursor-pointer">
          <a class="{{selectedMetricGroup === 'engagement' ? 'nav-link active' : 'nav-link'}}" id="nav-engagement" (click)="getMetrics('engagement')">Engagement</a>
        </li>
        <li class="nav-item cursor-pointer">
          <a class="{{selectedMetricGroup === 'retention' ? 'nav-link active' : 'nav-link'}}" id="nav-retention" (click)="getMetrics('retention')">Retention</a>
        </li>
      </ul>
      <div class="row mt-4">
        <div *ngFor="let metricCard of metricCards" class="col">
          <div class="card">
            <div class="card-body rounded">
              <div class="row">
                <div class="col">
                  <span class="h6 font-semibold text-muted text-sm d-block mb-2">{{metricCard.title}}</span>
                  <span class="h3 font-bold mb-0">{{ metricCard.newCount }}</span>
                  <span *ngIf="metricCard.percentageChange && metricCard.isPercentageIncrease" class="text-success">
                    <i class="m-2 bi bi-arrow-up-circle-fill me-1"></i>{{metricCard.percentageChange}}%
                  </span>
                  <span *ngIf="metricCard.percentageChange && !metricCard.isPercentageIncrease" class="text-danger">
                    <i class="m-2 bi bi-arrow-down-circle-fill me-1"></i>{{metricCard.percentageChange}}%
                  </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape text-lg rounded-circle ellipse">
                    <img style="height: 32px;" src="{{metricCard.icon}}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <latest-sessions class="mt-5"></latest-sessions>
  <!-- Container -->
  <app-patients-list [showButtons]="true" class="mt-5"></app-patients-list>
</main>
